@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/* ------- GENÉRALE ------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

html, body, [id=app], main {
    /* width: 100%; */
    height: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

/* li {
    background: lightblue;
} */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
}

figure {
    /* background-color: cornflowerblue; */
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.background_blobs, .fig_bg{
    position: absolute;
    max-height: 100%;
    width: 100%;
}

img {
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.coral_blob_bg {
    opacity: 70%;
}

.med_blob_bg {
    /* opacity: 64%; */
    z-index: 1;
}

.dkvin_blob_bg {
    opacity: 64%;
    z-index: 2;
}


/* ------- LAYOUT, RHYTHM & COMPOSITION ------- */

body, [id=app] {
    /* display: flex; */
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* body {
    max-width: 100vw;
} */

body > * {
    width: 100%;
}

.safe_area {
    padding: var(--safe-area);
    display: flex;
    justify-content: center;
}

main {
    margin: var(--safe-area);
    padding: var(--med-space); 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    justify-content: center;
    position: relative;
}

.just_top {
    justify-content: start;
}






/* ------------------ * UTILITARIAN * ------------------ */

.invisible {
    display: none;
}





/* Update the navigation styles */
/* .bottom_nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    max-width: 100%;
}

.bottom_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: calc(25% - 20px); 
}

.bottom_nav svg {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    fill: var(--burgundy);
} */

:root {
    --xxtall-line: 3.3rem;
    --xtall-line: 3rem;
    --tall-line: 2.15rem;
    --med-line: 1.7rem;
    --text-line: 1.4rem;
    --small-line: 1.2rem;
    
    --text-ltr-spacing: .044rem;
    --small-ltr-spacing: .05rem;
    --button-ltr-spacing: .075rem;
    --med-ltr-spacing: .1rem;
    --large-ltr-spacing: .15rem;

    --text-font: 'Roboto', sans-serif;
    --display-font: 'Playfair Display', serif;
    --block-font: 'Oswald', sans-serif;
}


/* --------- * Scale typographique choisie :  1.200 Minor Third base @ 12pt * --------- */

body {
    font-family: var(--text-font);
    line-height: var(--text-line);
}

.block-font {
    font-family: var(--block-font);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
}

.display-font {
    font-family: var(--display-font);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: unset;
    line-height: var(--med-line);
    max-width: 100%;
}

h1, h2, h3 {
    line-height: var(--tall-line);
}

/* ----- * H1 est le seul heading dont il n'ya qu'une seule font-family * ----- */
h1 {
    font-size: 2.986rem;
    line-height: var(--xxtall-line);
    font-family: var(--block-font);
    letter-spacing: var(--med-ltr-spacing);
}

h2 {
    font-size: 2.488rem;
    line-height: var(--xtall-line);
    letter-spacing: var(--med-ltr-spacing);
}

h2.block-font {
    letter-spacing: var(--med-ltr-spacing);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
h3 {
    font-size: 2.074rem;
    line-height: 2.5rem;
}

/* ----- * Fonctionne pour block & display fonts * ----- */
h4 {
    font-size: 1.728rem;
    line-height: var(--tall-line);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
h5 {
    font-size: 1.4rem;
    line-height: var(--med-line);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
h6 {
    font-size: 1.12rem;
    letter-spacing: var(--small-ltr-spacing);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
p {
    font-size: 1rem;
}

small {
    /* font-size: .833rem; */
    font-size: .694rem;
    line-height: var(--small-line);
}


/* ----- * ALIGNEMENT DU TEXTE * ----- */

.txt-center {
    text-align: center;
}


/* ----- * APPLICATIONS * ----- */

.index_title {
    padding: 25px 36px; 
    font-weight: 500;
    & h2 {
        max-width: 13ch;
        color: var(--coral);
    }
}

.no_show {
    text-transform: uppercase;
    /* font-style: italic; */
    font-size: .7rem;
    line-height: var(--small-line);
    color: var(--coral);
}


:root {

    /* ---------- * * COLOR SETS * * ---------- */

    /* ----- BURGUNDY ----- */

    --burgundy: #2B0303;
    --burgundy-lt: #4B0000;
    

    /* ----- ACCENT ----- */

    --coral: #F95148;

    /* ----- NEUTRALS ----- */

    --cream: #F2D9AF;
    --cream-lt: #EDE7D1;
    --med-gray: #36332f;


    /* ---------- * * APPLICATION * * ---------- */

    --text: var(--med-gray);

    
}



body {
    background-color: var(--burgundy);
    /* color: green; */
}


.bckgd-burg-lt {
    background-color: var(--burgundy-lt);
}

.bckgd-cream {
    background-color: var(--cream);
}

.bckgd-cream-lt {
    background-color: var(--cream-lt);
}

.bckgd-coral {
    background-color: var(--coral);
}

.bckgd-white {
    background-color: white;
}

.burg {
    color: var(--burgundy);
}

.coral {
    color: var(--coral)
}

.cream {
    color: var(--cream)
}


.cream_lt {
    color: var(--cream-lt)
}


:root {

    /* ---------- * * SPACING * * ---------- */

    --xxlarge-space: 50px;
    --xlarge-space: 40px;
    --large-space: 30px;
    --med-space: 20px;
    --small-space: 10px;
    --vsmall-space: 5px;

    --safe-area: 16px;
}

/* ----- * TEXT PLACEMENT * ----- */

/* Empty container that centers titles/subtitles in the middle of it */
.title-center {
    display: flex;
    align-self: center;
}

/* ----- * CONTENT LAYOUT * ----- */

/* Background color classes are in colors.css */
.bckgd {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.row_els_apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column_index_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col_tight {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.grid_square_horiz {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.grid_sq_insert {
    aspect-ratio: 1/1;
}


/* ----- * CONTENT AREA MODS * ----- */

.cont_narrow_splash {
    padding: 50px;
}

/* To accomodate the nav */
.pad_vert_general {
    padding: 40px 0;
}

.gap_20 {
    gap: 20px;
}
.pad_vert_general {
    padding: 40px 0;
}
/* .under_nav {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
} */

/* For when a card needs to start well below top (this is provisional) */
.top_low {
    margin-top: 6rem;  
}


/* Tous les btn/link regrouper en bas de page */
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: auto;
}

/* Page de Profil */
.container_profil{
    padding: 20px 50px;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 20;
    color: var(--cream-lt);
    & dd{
        font-size: 1.2rem;
        color: var(--cream);
        padding-bottom: var(--med-space);
    }
    & dt{
        color: var(--coral);
        font-size: 1.12rem;
        padding-bottom: var(--vsmall-space);
    }
}

.container_dashboard_section{
    & h5{
        color: var(--cream);
    }

}

.pad_vert_general {
    padding: 40px 0;
}



/* ----- * EXPLANATIONS * ----- */ 

/* 
Containers listed go from outside twds inside

---- * HTML generated by stack * ----

    <body>, [id=app]
    --- * NO: inherent margin / padding / color * ---
        Containers that occupy the whole space, vert and horizontal
        Height and width 100% of its container
        Border box 


---- * ONE PER PAGE (view pages & layouts, not components) * ----

    <div class="bckgd"> 
    --- * NO: inherent margin / padding / color * ---
        Can contain décor elements 
        Can contain several containers < > in order to split pg content
        If page contents not split, <main>, <header>, <footer> (whenever applicable) etc will float on top of this div
        Height and width 100% of its container
        Border box  

    <main>
    --- * NO: inherent color * ---
        Has set margin for min safe area and set padding for placement
        Height and width 100% of its container
        Border box 
        Can be modified by classes

-- * FIN ONE PP * --

-------------------------------

---- * CAN HAVE MORE THAN ONE PP * ----

    <header>
    --- * NO: inherent padding / color * ---
        Empty container, centers content,
        Width 100%, height to adjust to content
        takes up 100 width, height settable or adjust to content
        So far outermost header is for nav, at same level as main
        Can be modified by classes

    <footer>
    --- * NO: inherent padding / color * ---
        Empty container, centers content,
        Width 100wh (so far only way of not having it go over the screen width), height settable or adjust to content
        takes up 100 width
        So far outermost header is for nav, at same level as main, and is set as fixed
        Can be modified by classes
/*



/* ----- * EXPLANATIONS * ----- */ 
/*
---- * BEFORE SIGN-IN * ---

<html> -> <body> -> <div id=app>
    <div class="bckgd"> 
        <divs for bckd decor> (such as blobs) + other <divs> (as needed)
        <main>  
            <header> -> <h*>
            -- * IF FORM NEEDED * --
            <div (or other container if form needs specific placement)
                <form>
                    <fieldset> 
                        <label hidden>
                        <input> (make sure it has a placeholder)
                        <InputError class="msg input_err">
                </form>
            </div>
            <other containers + content as needed> 
        </main> 
    </div>   
</html> -> </body> -> </div id=app>



---- * AFTER SIGN-IN * --- 

<html> -> <body> -> <div id=app>
    <div class="bckgd"> 
        <divs for bckd decor> (such as blobs) + other <divs> (as needed)
        <header class="top_nav_header">
            <nav class="top_nav">
        </header>
        <main>  
            <header> -> <h*>
            -- * IF FORM NEEDED SEE ABOVE * --
            <other containers + content as needed> 
        </main> 
        <footer>
            <nav class="bottom_nav">
        </header>
    </div>   
</html> -> </body> -> </div id=app>





*/

/* ------- PLACEMENT (containers) ------- */














.wine-list{
  display: flex;
  flex-flow: wrap;
  padding: var(--small-space);
  padding-bottom: 30px;
  gap: var(--med-space);
  justify-content: center;
}

/* ---------- * * NAV GÉNÉRALE * * ---------- */

nav {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    max-height: 80px;
    /* min-height: 60px; */
    max-width: 100%;
    align-items: center;
}

nav a {
    max-height: 32px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100%;
    max-width: 100%;
}

nav svg {
    box-sizing: border-box;
    max-height: 90%;
    max-width: 90%;
    padding: 5px;
}


/* ---------- * * TOP NAV * * ---------- */

.top_nav_header {
    position: absolute;
    z-index: 1;
    /* added as per my other one*/
    display: flex;
}

.top_nav {
    display: flex;
    justify-content: space-between; 
    background-color: transparent;
    color: var(--cream);
    z-index: 1;
}

.top_nav figure {
    -webkit-writing-mode: vertical-lr;
    padding-left: 10px;
}

.top_nav img {
    max-width: 100%;
    height: 22px;
}

.top_nav svg {
    fill: var(--cream);
    width: 30px;
    height: 30px;
}

.top_nav span {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.top_nav p {
    padding-left: 10px;
}


/* ---------- * * BOTTOM NAV * * ---------- */
/* ---------- * * Navigation en Général * * ---------- */

.bottom_nav {
    display: grid;
    /* --- Changer à 5 une fois rajouté l'icône pour "notes" --- */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px; 
    background: var(--coral);  
}

.bottom_nav svg {
    fill: var(--burgundy);
}



/* ------- * * * * AUTRES TAILLES * * * * ------- */

/* @media screen and (max-width: 600px) {

}     */



/* <MainLayout :user="user"> */
/* declancheur.css (composante) --------------- */

.declancheur {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 5px;
}

.declancheur:not(:checked)::before {
    /* content: "MENU"; */
    /* font-family: var(--block-text); */
    content: url(/images/lupe.svg?83787e9b76a4bb2deab696f2e1fb6c4d);
    cursor: pointer;
    background: red;
}

.declancheur:checked::before {
    /* /* content: "FERMER"; */
    font-family: var(--block-text);
    /* content: url(@/../assets/icons/lupe.svg); */
    cursor: pointer;
}

.declancheur, .declancheur:not(:checked)+ .nav_cachee {
    opacity: 0;
    pointer-events: none;
}

/* ------- * * * * TAILLE PORTABLE * * * * ------- */

/* @media screen and (max-width: 600px) { */

    .declancheur, .declancheur:checked + .nav_cachee {
        opacity: 1;
        pointer-events: all;
    }

/* } */

.nav_mobile {
    /* position: absolute; */
    background: pink;
}

.nav_mobile input {
    border: 0;
    color: white;
    font-size: large;
}

.nav_cachee {
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    background: var(--aqua_tint_2);
    top: 166px;
    gap: 20px;
    padding: 30px;
    width: 75%;
    color: var(--border_bg_1);
    /* to togggle it on and off */
    display: none
}

/* Show search bar when corresponding checkbox is checked */
/* Show menu when corresponding checkbox is checked */
/* input[type="checkbox"]:checked + .nav_cachee {
    display: block;
} */

/* Show search bar when corresponding checkbox is checked */
input[name="search"]:checked + label .search_cachee {
    display: block;
}

/* Show menu when corresponding checkbox is checked */
input[name="menu"]:checked + label .menu_cachee {
    display: block;
}


/* .nav_cachee .capsule_menu_deroulant {
    height: unset;
    width: 75%;
    justify-content: center;
} */

.nav_cachee input {
    width: 90%;
}

/* .nav_cachee span:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
} */

/* .nav_mobile_wrapper {
    display: none;
} */

/* .nav_cachee span .capsule_menu_deroulant:first-of-type {
    border-right: 1px solid var(--border_bg_1);
} */

.nav_cachee span {
    margin-bottom: 0;
}

.search {
    padding-bottom: 20px;
}

.nav_cachee button {
    width: 75%;
    align-self: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_bg_1);
    color: var(--border_bg_1);
}

.nav_cachee button:hover {
    background: var(--border_bg_1);
    color: var(--aqua_tint_2);
    border: 2px solid var(--border_bg_1);
}

/* Make this cleaner, maybe put buttons into one section */
.nav_cachee button:last-of-type {
    margin-bottom: 20px;
}

/* .nav_cachee .contenu_menu_deroulant {
    top: 35px;
}

.nav_cachee .menu_titre {
    color: var(--border_bg_1);
} */



/* ------- * * * * TAILLE PORTABLE * * * * ------- */

/* @media screen and (max-width: 600px) { */

    .nav_mobile_wrapper {
        display: flex;
    }

    .nav_mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
        z-index: 1;
    }
/* } */ 

/* --------- * BUTTON * --------- */

/* In the components "PrimaryButton.vue", "SecondaryButton.vue", "DangerButton.vue" (came with Laravel) */

/* cancel all previous button style */
button{
    background: none;
    border: none;
    cursor: pointer;
}


.button {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    align-self: center;
    padding: 16px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    border-radius: 30px;
    border: 3px solid var(--cream);
    background: none;
    color: var(--cream);
}
/* Variante de btn small */
.button.sml {
    padding: 6px;
    font-size: 0.6rem;
    max-width: -moz-max-content;
    max-width: max-content;
    border: none;
    background: var(--coral);
    vertical-align: sub;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: -moz-max-content;
    width: max-content;
}

/* Variante de btn Medium */
.button.med {
    padding: 12px;
    font-size: 1rem;
    max-width: -moz-max-content;
    max-width: max-content;
}

.button, .button a {
    line-height: 1rem;
    font-weight: 400;
    font-size: 1.12rem;
    letter-spacing: var(--small-ltr-spacing);
}

.button_column {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: var(--safe-area);
    align-items: center;
    max-height: 100%;
}

.button:active {
    cursor: pointer;
    background-color: var(--coral);
    border: none;
}

.lien_sml {
    padding: 6px;
    font-size: 0.6rem;
    max-width: -moz-max-content;
    max-width: max-content;
    /* border: none; */
    background: none;
    vertical-align: sub;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: -moz-max-content;
    width: max-content;
    font-family: 'Oswald', sans-serif;
}

.lien_sml:hover {
    color:var(--coral)
}


.goBackButton{
  align-items: center;
  background: none;
  border: 2px solid;
  border-color: var(--cream);
  border-radius: 1000px;
  color: var(--cream);
  cursor: pointer;
  display: flex;
  font-family: 'Oswald';
  font-size: 1em;
  font-weight: 400;
  gap: 6px;
  line-height: 1.1;
  padding: 3px 10px;
  text-transform: uppercase;
}
.search-button {
  border: none;
  background: none;
  cursor: pointer;
}
.search-bar{
  display: flex;
  flex-flow: column;
  gap: var(--small-space);
  background-color: var(--cream);
  padding: var(--med-space);
}
.search-bar form{
  display: flex;
  flex-flow: row;
  gap: var(--vsmall-space);
}
.search-bar svg{
  width: 20px;
  height: 20px;
}

/* --------- * FORM * --------- */

form {
    display: flex;
    flex-direction: column;
    gap: var(--safe-area);
    margin: 0;
    /* padding: var(--med_space); */
}
/* Will grab "InputText.vue" (came with Laravel) as well as input in forms */
form input {
    box-sizing: border-box;
    align-self: center;
    padding: 12px 20px;
    width: 100%; /*This can be done here because it is limited to its container */
    border-radius: 30px;
    border: none;
    background: var(--cream-lt);
    font-size: large;
    color: var(--text);
}

form input:focus-visible {
    outline: var(--coral) auto 1px;
}

input:-internal-autofill-selected {
    background: green !important;
}

fieldset {
    border: none;
    padding: 0;
}
.form-quantity{
  background-color: var(--cream-lt);
  border-radius: 12px;
  padding: var(--small-space);
}
.form-quantity input{
  font-family: var(--title-font);
  font-size: 3em;
  font-weight: 600;
  justify-self: flex-start;
}
.form-quantity section:first-of-type{
  display: flex;

  >*{
    flex: 1;
  }
  >div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: var(--vsmall-space);
  }
  >div div{
    display: flex;
    gap: var(--med-space);
  }
}
.form-quantity section:last-of-type div{
  display: flex;
  flex-flow: wrap;
  gap: var(--small-space);

  >*{
    flex: 1;
  }
}
.form-quantity img{
  filter: drop-shadow(1px 3px 2px rgba(24, 4, 4, 0.378));
}

.form-create-wine>div{
  display: flex;
  flex-flow: column;
  gap: var(--small-space);
}
.form-create-wine>div>div{
  display: flex;
  flex-flow: row;
  gap: var(--small-space);
  >*{
    flex: 1;
  }
}
.modal{
  align-items: start;
  background-color: rgba(58, 29, 29, 0.58);
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.modal>*{
  flex: 1;
}


.dialog{
  position: fixed;
  bottom: var(--small-space);
  border: 2px solid var(--coral);
  border-radius: 100px;
  font-family: var(--block-font);
  right: var(--small-space);
  max-width: 300px;
  background-color: var(--cream);
  padding: var(--small-space);
  z-index: 2;
}

.confirm{
  position: fixed;
  background-color: var(--coral);
  color: var(--cream);
  border-radius: 13px;
  padding: var(--med-space) var(--small-space);
  font-family: var(--block-font);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
  align-items: center;
}
.confirm > div{
  display: flex;
  gap: var(--small-space);
  align-items: center;
}
.inScreenOut-enter-active,
.inScreenOut-leave-active {
  transition: right 0.5s ease;
}

.inScreenOut-enter-from,
.inScreenOut-leave-to {
  right: -400px;
}

.color-drop{
  display: block;
  width: 20px;
  min-height: 20px;
  height: 20px;
  border-radius: 100%;
}
.color-drop.blanc{
  background-color: var(--cream);
}
.color-drop.rouge{
  background-color: var(--burgundy);
}
.color-drop.rosé{
  background-color: var(--coral);
}
.quantity-drop{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  min-height: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  color: var(--cream);
  font-size: .8em;
  padding: var(--vsmall-space);
}
/* .card_cellar container -> a placer ailleurs ?? */
.container_cards{   
    display: flex;
    gap: var(--med-space);
    & h5{
        font-family: var(--display-font);
    }
}
/* Card compodents Dashboard CellarDisplayBox  */
.card_cellar {
    /* background-color: var(--burgundy); */
    background-color: var(--coral);
    border-radius: 12px;
    /* font-family: var(--block-font); */
    /* text-transform: uppercase; */
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 7ch; */
    height: 100%;
    flex: 1;
    color: var(--cream);
    font-size: .833rem;
    line-height: var(--small-line);
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
}

.card_round {
    border-start-end-radius: 40px; 
}

/* ----- * FICHE WINE (wine/show) * ----- */ 

/* In this case the <main> will be contained in a <div>, essentially making it a card */

.fiche_wine main > *  {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fiche_wine_title {
    font-size: 1.4rem;
    line-height: var(--med-line);
}

.fiche_wine_subtitle {
    font-size: 1rem;
    line-height: var(--text-line);
}

.country_line {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fiche_wine img {
    height: 100%;
}

.wine-thumbnail{
  flex:0 0 100px;
  padding-top: 30px;
  display: flex;
  flex-flow: column;
  gap: var(--small-space);
}
.wine-thumbnail>div{
  display: flex;
  gap: var(--small-space);
}
.wine-thumbnail a {
  background-color: var(--cream-lt);
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  gap: var(--vsmall-space);
  justify-content: space-between;
  padding: var(--small-space) var(--vsmall-space);
  height: 200px;
  filter: drop-shadow(1px 2px 2px rgba(14, 2, 2, 0.572));
}
.wine-thumbnail aside{
  display: flex;
  gap: var(--small-space);
  justify-content: space-between;
}
.wine-thumbnail p{
  text-align: center;
  line-height: 1.2em;
  font-weight: 600;
  font-size: .8em;
  color: var(--burgundy);
}

.wine-thumbnail a div:first-of-type{
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
}
.wine-thumbnail a div:last-of-type{
  height: 60px;
  display: flex;
  flex-flow: column;
}

.wine-thumbnail img{
  position: absolute;
  bottom: 0;
  min-height: 150px;
  filter: drop-shadow(1px 2px 2px rgba(61, 49, 49, 0.572));
}

.radio{
  display: none;
}
.radio + label{
  border: 2px solid;
  border-color: transparent;
  border-radius: 100px;
  padding: var(--vsmall-space);
  text-align: center;
}
.radio:checked + label{
  background-color: var(--cream);
  border-color: var(--coral);
}

/* --------- * MESSAGES AUTO-GENERÉS * --------- */

.msg {
    margin: 6px;
    font-family: var(--text-font);
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

/* --------- * ERROR * --------- */
.input_err {
    color: red;
}

/* --------- * STATUS (session; tjrs une class du v-if) * --------- */

.status {
    color: green;
}



/* ---------- * * GÉNÉRALE * * ---------- */


/* ---------- * * STANDARDS / VARIABLES * * ---------- */


/* ---------- * * MISE EN PLACE * * ---------- */

/* ---------- * * DANS SECTION NAVIGATION * * ---------- */


/* ---------- * * COMPOSANTS RÉUTILISABLES * * ---------- */


