.dialog{
  position: fixed;
  bottom: 60px;
  border: 2px solid var(--success-lt);
  border-radius: 100px;
  font-family: var(--block-font);
  right: var(--small-space);
  max-width: 300px;
  color: var(--white);
  background-color: var(--success);
  padding: var(--med-space);
  z-index: 2;
}
