.dialog{
  background-color: var(--success);
  bottom: 60px;
  border: 2px solid var(--success-lt);
  border-radius: 100px;
  color: var(--white);
  background-color: var(--success);
  padding: var(--vsmall-space) var(--med-space);
  position: fixed;
  right: var(--small-space);
  z-index: 2;
  max-width: 90vw;
}
