/* ---- * MENU DE FILTRAGE * ---- */

.dropdown_container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.dropdown_container header {
    background: var(--coral);
    color: var(--white);
    display: flex;
    flex-direction: row;
    gap: var(--small-space);
    padding: var(--xsmall-space) var(--safe-area);
    font-family: var(--block-font);
    text-transform: uppercase;
    font-size: var(--sz-10);
    max-width: 100%;
    line-height: var(--text-line);
    border: none;
    width: 100%;
    justify-content: space-between;
}

.dropdown_container header section {
    width: 100%;
}

.dropdown_container header span {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: var(--small-space);
}

.dropdown_container header label {
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
        & svg {
            fill: var(--white);
            max-height: 20px;
        }
}
  
.dropdown_toggle {
    display: none;
}
  
.dropdown_options {
    width: auto;
    background: var(--white);
    color: var(--burgundy-lt);
    border: 1px solid var(--cream);
    overflow-y: auto;
    max-height: 100px;
    z-index: 1;
    width: 85%;
    align-self: center;
    position: relative;
}

.dropdown_options li {
    display: flex;
    flex-direction: row;
}

.dropdown_options input {
    display: none;
}
  
.dropdown_options label {
    display: block;
    padding: var(--sm-xsmall-space) var(--safe-area);
    cursor: pointer;
}