.modal {
  background-color: var(--veil);
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.modal > * {
  flex-grow: 1;
}
