/* ----- * TITRES / SOUS-TITRES * ----- */

/* ---- * Tous les titres h1 principaux std * ---- */
.title_index {
    font-family: var(--block-font);
    font-size: 2.488rem;
    line-height: var(--xtall-line);
    color: var(--coral);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    max-width: 11ch;
    padding-bottom: var(--small-space);
}

/* ---- * Tous les sous-titres ou titres h2 de section std * ---- */
.title_disp_subt {
    font-size: 1.728rem;
    line-height: var(--tall-line);
    font-family: var(--display-font);
    color: var(--cream);
    font-weight: 600;
    text-transform: lowercase;
    max-width: 15ch;
}

/* ---- * Var taille * ---- */
.title_disp_subt.tit_sub_sm {
    font-size: 1.4rem;
}

/* ---- * Var taille -> utilisé dans fiche_wine * ---- */
.title_disp_subt.ds_smllst {
    font-weight: 700;
    font-size: 1.12rem;
    text-transform: unset;
    line-height: var(--text-line);
}

.title_disp_subt.ds_smllst.burg-lt{
    color: var(--burgundy-lt);
}

/* Variante lorsque le texte est sur le coral */
.title_disp_subt.cream_lt{
    color: var(--cream-lt);
}

/* ----- * Responsive * ----- */

@media (min-width: 750px){
    .title_index {
        font-size: 3.75rem;
        line-height: 5rem;
    }
    .title_disp_subt{
        font-size: 2.4rem;
        line-height: 3rem;
    }
}