/* ---- * Conteneur qui permet modifier l'arrière plan dans <template> sans avoir besoin de toucher le <body> * ---- */
.bckgd {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    /* responsive */
    max-width: 1000px;
    margin-inline: auto;
}

/* ---- * Background spécifique pour l'accueil * ---- */
.bckgd-home {
    background: var(--cream-lt);
}