.button_column {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  gap: var(--safe-area);
  align-items: center;
  max-height: 100%;
}

.button_column_tight {
    display: flex;
    flex-direction: column;
    gap: var(--vsmall-space);
  }
