/* ----- * MISE EN PLACE DU CONTENU * ----- */

/* ---- * Boîte vide avec du contenu centré horiz/vert * ---- */
.cont-center {
    display: flex;
    align-self: center;
    justify-content: center;
}

/* ---- * Padding épais tout autour (HomeView) * ---- */
.cont_narrow_splash {
    padding: var(--xxlarge-space);
}

/* ---- * Donne l'espace nécessaire au contenu (clears the nav) * ---- */
.cont_pad_vert_gral {
    padding: var(--xxlarge-space) 0;
}

.cont_marg_vert_home {
    margin: var(--xxlarge-space) 0;
    height: 100%;
}

/* ---- * Permet que la fiche_vin se place en dessus du bckgd * ---- */
.cont_float_up {
    padding-bottom: var(--xlarge-space);
    z-index: 2;
    position: relative;
}

/* ---- * Page de Profil * ---- */
.container_profil {
    align-self: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: var(--med-space);
    color: var(--cream-lt);
    & span {
        display: flex;
        flex-direction: row;
        gap: var(--med-space);
        align-items: baseline;
        & dt {
            color: var(--coral);
            font-size: 1.12rem;
            line-height: var(--text-line);
            font-family: var(--display-font);
            font-weight: 600;
            padding-bottom: 0;
        }
        & dd {
            font-size: 1rem;
            line-height: var(--text-line);
            font-family: var(--text-font);
            color: var(--cream);
        }     
    }
}

 












