.grid_square_horiz {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--med-space);
}

.grid_sq_insert {
    aspect-ratio: 1/1;
}

.grid_sq_insert_sm {
    aspect-ratio: 1/0.5;
}