.notes-box{
  backdrop-filter: brightness(90%);
  border-radius: 12px;
  display: flex;
  flex-flow: column;
  padding: var(--small-space);
  gap: var(--small-space);
}
.notes-box header{
  display: flex;
  gap: var(--small-space);
  justify-content: space-between;
}
.notes-box>div{
  display: flex;
  flex-flow: column;
  gap: var(--xsmall-space);
}