
:root {

    /* ---------- * * COLOR SETS * * ---------- */

    /* ----- BURGUNDY ----- */

    --burgundy: #2B0303;
    --burgundy-lt: #4B0000;
    

    /* ----- ACCENT ----- */

    --coral: #F95148;

    
    /* ----- NEUTRALS ----- */

    --cream: #F2D9AF;
    --cream-lt: #EDE7D1;
    --med-gray: #36332f;


    /* ---------- * * APPLICATION * * ---------- */

    --text: var(--med-gray);

    
}



body {
    background-color: var(--burgundy);
}

.bckgd-burg-lt {
    background-color: var(--burgundy-lt);
}

.bckgd-cream {
    background-color: var(--cream);
}

.bckgd-cream-lt {
    background-color: var(--cream-lt);
}

.bckgd-coral {
    background-color: var(--coral);
}

.bckgd-white {
    background-color: white;
}

.burg {
    color: var(--burgundy);
}

.coral {
    color: var(--coral)
}



.cream {
    color: var(--cream)
}



.cream_lt {
    color: var(--cream-lt)
}
