
/* TEXT PLACEMENT */

/* Empty container that centers titles/subtitles in the middle of it */
.title-center {
    display: flex;
    align-self: center;
}


/* OTHER */

.bckgd {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bckgd.cream-lt {
    background-color: var(--cream-lt);
}


/* EXPLANATIONS */ 
/* 

-- ONE PP --
body, [id=app]
Containers that occupy the whole space, vert and horizontal
NO: margin/padding, color
height and width 100%
border box 

bckg:  same as above, contains decor elements taht will be flat,

main: has margin for safe area, and padding for placement of next element

-- FIN ONE PP --
-------------------------------
-- CAN HAVE MORE THAN ONE PP --

header: Empty container, centers content, takes up 100 width, for semantic use, outermost at same level as main

footer: Empty container, centers content, takes up 100 width, for semantic use, outermost at same level as main





STRUCTURE

----- Does not require sign-in ----

html -> body -> id=app -> div (bckgd) 
    div (bckgd)-> bckd decor
    div (bckgd)-> main

*/



