
:root {

    /* ---------- * * SPACING * * ---------- */

    --xxlarge-space: 50px;
    --xlarge-space: 40px;
    --large-space: 30px;
    --med-large-space: 25px;
    --med-space: 20px;
    --small-space: 10px;
    --vsmall-space: 5px;

    --safe-area: 16px;
}