
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --xxtall-line: 3.3rem;
    --xtall-line: 3rem;
    --tall-line: 2.15rem;
    --med-line: 1.7rem;
    --text-line: 1.4rem;
    --small-line: 1.2rem;
    
    --text-ltr-spacing: .044rem;
    --small-ltr-spacing: .05rem;
    --button-ltr-spacing: .075rem;
    --med-ltr-spacing: .1rem;
    --large-ltr-spacing: .15rem;

    --text-font: 'Roboto', sans-serif;
    --display-font: 'Playfair Display', serif;
    --block-font: 'Oswald', sans-serif;
}


/* --------- * Scale typographique choisie :  1.200 Minor Third base @ 12pt * --------- */

body {
    font-family: var(--text-font);
    /* line-height: var(--text-line); */
}

.block-font {
    font-family: var(--block-font);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
}

.display-font {
    font-family: var(--display-font);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: unset;
    line-height: var(--med-line);
    max-width: 100%;
}

h1, h2, h3 {
    line-height: var(--tall-line);
}
dt{
    padding-bottom: var(--small-space);
}
/* ----- * H1 est le seul heading dont il n'ya qu'une seule font-family * ----- */
.fs_1 {
    font-size: 2.986rem;
    line-height: var(--xxtall-line);
    font-family: var(--block-font);
    letter-spacing: var(--med-ltr-spacing);
}

.fs_2 {
    font-size: 2.488rem;
    line-height: var(--xtall-line);
    letter-spacing: var(--med-ltr-spacing);
}

.fs_2.block-font {
    letter-spacing: var(--med-ltr-spacing);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
.fs_3 {
    font-size: 2.074rem;
    line-height: 2.5rem;
}

/* ----- * Fonctionne pour block & display fonts * ----- */
.fs_4 {
    font-size: 1.728rem;
    line-height: var(--tall-line);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
.fs_5 {
    font-size: 1.4rem;
    line-height: var(--med-line);
}

/* ----- * Fonctionne pour block & display fonts * ----- */
.fs_6 {
    font-size: 1.12rem;
}

/* ----- * Fonctionne pour block & display fonts * ----- */
p {
    font-size: 1rem;
    line-height: var(--text-line);
}

small {
    /* font-size: .833rem; */
    font-size: .694rem;
    line-height: var(--small-line);
}

.legend {
    font-family: var(--display-font);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: var(--tall-line);
    font-weight: 500;
    text-align: center;
}

.legend_small {
    font-size: 1.2rem;
    font-family: var(--block-font);
    line-height: var(--med-line);
    font-weight: 400;
    text-align: center;
    text-decoration: underline var(--cream);
    text-underline-offset: 0.3em;
    padding: var(--small-space) 0px 16px 0px;
}

/* ----- * ALIGNEMENT DU TEXTE * ----- */

.txt-center {
    text-align: center;
}


/* ----- * APPLICATIONS * ----- */

/* ---- * Tous les titres h1 principaux std * ---- */
.index_title {
    font-family: var(--block-font);
    font-size: 2.488rem;
    line-height: var(--xtall-line);
    color: var(--coral);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    max-width: 11ch;
    padding-bottom: var(--small-space);
}

/* ---- * Tous les sous-titres ou titres h2 de section std * ---- */
.disp_subtitle {
    font-size: 1.728rem;
    line-height: var(--tall-line);
    font-family: var(--display-font);
    color: var(--cream);
    font-weight: 600;
    text-transform: lowercase;
    max-width: 15ch;
}

/* ---- * Var taille * ---- */
.disp_subtitle.sm {
    font-size: 1.4rem;
}

.no_show {
    text-transform: uppercase;
    /* font-style: italic; */
    font-size: .7rem;
    line-height: var(--small-line);
    color: var(--coral);
}
