
/* ----- * GENÉRALE * ----- */
/* Balises modifiées directement */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > * {
    width: 100%;
}

html, body, [id=app], main {
    max-height: 100%;
    max-width: 100vw;
    height: 100%;
}

main {
    padding: var(--med-space); 
    display: flex;
    flex-direction: column;
    gap: var(--xxlarge-space);
    /* justify-content: center; */
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 2;
}

@media (min-width: 750px){
    main{
        justify-content: space-around;
        padding: var(--xxlarge-space);
    }
}