
/* ------- GENÉRALE ------- */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

html, body, [id=app], main {
    /* width: 100%; */
    height: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

/* li {
    background: lightblue;
} */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
}

figure {
    /* background-color: cornflowerblue; */
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.background_blobs, .fig_bg{
    position: absolute;
    max-height: 100%;
    width: 100%;
}

img {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.coral_blob_bg {
    opacity: 70%;
}

.med_blob_bg {
    /* opacity: 64%; */
    z-index: 1;
}

.dkvin_blob_bg {
    opacity: 64%;
    z-index: 2;
}


/* ------- LAYOUT, RHYTHM & COMPOSITION ------- */

body, [id=app] {
    /* display: flex; */
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* body {
    max-width: 100vw;
} */

body > * {
    width: 100%;
}

.safe_area {
    padding: var(--safe-area);
    display: flex;
    justify-content: center;
}

main {
    margin: var(--safe-area);
    padding: var(--med-space); 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    justify-content: center;
    position: relative;
}

.just_top {
    justify-content: start;
}


/* ------- PLACEMENT (containers) ------- */

.header_cont {
    padding: 0px var(--med-space);
}

.center_cont {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col_tight {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.cont_narrow_splash {
    padding: 50px;
}

.under_nav {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}

.card_low {
    margin-top: 6rem;  
}

.card_round {
    border-start-end-radius: 40px; 
}

.index_title {
    padding: 25px 36px; 
    font-weight: 500;
    & h2{
        max-width: 13ch;
        color: var(--coral);
    }
}



/* ------------------ * UTILITARIAN * ------------------ */

.invisible {
    display: none;
}





/* Update the navigation styles */
/* .bottom_nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
    max-width: 100%;
}

.bottom_nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: calc(25% - 20px); 
}

.bottom_nav svg {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    fill: var(--burgundy);
} */