/* ------- GENERAL ------- */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html,
body,
main,
header,
footer,
[id=app] {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: lightblue;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

figure {
    /* background-color: cornflowerblue; */
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.background_blobs, .fig_bg{
    position: absolute;
    max-height: 100%;
    width: 100%;
}

img {
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.coral_blob_bg {
    opacity: 70%;
}

.med_blob_bg {
    /* opacity: 64%; */
    z-index: 1;
}

.dkvin_blob_bg {
    opacity: 64%;
    z-index: 2;
}


/* input {
    height: var(--espace_petit);
    border: 1px solid var(--bronze_tint_2);
} */


/* ------- LAYOUT, RHYTHM & COMPOSITION ------- */

body, [id=app] {
    /* display: flex; */
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

body > * {
    width: 100%;
}

.safe_area {
    padding: var(--safe-area);
    display: flex;
    justify-content: center;
}

main {
    margin: var(--safe-area);
    padding: var(--med-space); 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    justify-content: center;
    position: relative;
}

.just_top {
    justify-content: start;
}


/* ------- PLACEMENT (containers) ------- */

.header_cont {
    padding: 0px var(--med-space);
}

.center_cont {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col_tight {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.cont_narrow_splash {
    padding: 50px;
}

.under_nav {
    position: absolute;
}

.card_low {
    margin-top: 6rem;  
}

.card_round {
    border-start-end-radius: 40px; 
}

.index_title {
    margin: 25px 36px;
    font-weight: 500;
}

.grid_index {
    
}


/* --------- * ERROR * --------- */

.input_err {
    margin-top: 10px;
    color: red;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}


/* ------------------ * UTILITARIAN * ------------------ */

.invisible {
    display: none;
}