/* declancheur.css (composante) --------------- */

.declancheur {
    appearance: none;
    padding: 5px;
}

.declancheur:not(:checked)::before {
    /* content: "MENU"; */
    /* font-family: var(--block-text); */
    content: url(@/../assets/icons/lupe.svg);
    cursor: pointer;
    background: red;
}

.declancheur:checked::before {
    /* /* content: "FERMER"; */
    font-family: var(--block-text);
    /* content: url(@/../assets/icons/lupe.svg); */
    cursor: pointer;
}

.declancheur, .declancheur:not(:checked)+ .nav_cachee {
    opacity: 0;
    pointer-events: none;
}

/* ------- * * * * TAILLE PORTABLE * * * * ------- */

/* @media screen and (max-width: 600px) { */

    .declancheur, .declancheur:checked + .nav_cachee {
        opacity: 1;
        pointer-events: all;
    }

/* } */