
.nav_mobile {
    /* position: absolute; */
    background: pink;
}

.nav_mobile input {
    border: 0;
    color: white;
    font-size: large;
}

.nav_cachee {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--aqua_tint_2);
    top: 166px;
    gap: 20px;
    padding: 30px;
    width: 75%;
    color: var(--border_bg_1);
}

.nav_cachee .capsule_menu_deroulant {
    height: unset;
    width: 75%;
    justify-content: center;
}

.nav_cachee input {
    width: 90%;
}

.nav_cachee span:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/* .nav_mobile_wrapper {
    display: none;
} */

.nav_cachee span .capsule_menu_deroulant:first-of-type {
    border-right: 1px solid var(--border_bg_1);
}

.nav_cachee span {
    margin-bottom: 0;
}

.search {
    padding-bottom: 20px;
}

.nav_cachee button {
    width: 75%;
    align-self: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--border_bg_1);
    color: var(--border_bg_1);
}

.nav_cachee button:hover {
    background: var(--border_bg_1);
    color: var(--aqua_tint_2);
    border: 2px solid var(--border_bg_1);
}

/* Make this cleaner, maybe put buttons into one section */
.nav_cachee button:last-of-type {
    margin-bottom: 20px;
}

.nav_cachee .contenu_menu_deroulant {
    top: 35px;
}

.nav_cachee .menu_titre {
    color: var(--border_bg_1);
}



/* ------- * * * * TAILLE PORTABLE * * * * ------- */

/* @media screen and (max-width: 600px) { */

    .nav_mobile_wrapper {
        display: flex;
    }

    .nav_mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 20px;
        z-index: 1;
    }
/* } */ 