/* ---------- * * Rayon Inférieur Navigation * * ---------- */

.nav_bottom_row {
    border-top: solid 1px var(--border_bg_1);
    height: 40px;
}

.nav_bottom_row a:last-of-type {
    border-right: none;
}

.nav_bottom_row .capsule_menu_deroulant {
    height: 70px;
    justify-content: space-around;
}

.nav_bottom_row .capsule_menu_deroulant:first-of-type>.menu_titre {
    padding-left: 0px;
}

.nav_bottom_row label>i {
    padding-left: 10px;
}

.nav_bottom_row>.nav_section>a,
.nav_bottom_row .menu_titre {
    border-right: none;
    padding: 0px;
}

.nav_bottom_row .menu_titre {
    margin-bottom: 3px;
}

.fa-magnifying-glass {
    padding-left: 10px;
}