
/* ---------- * * NAV GÉNÉRALE * * ---------- */

nav {
    box-sizing: border-box;
    text-align: center;
    padding: var(--small-space);
    max-height: 80px;
    /* min-height: 60px; */
    max-width: 100%;
    align-items: center;
}

nav a {
    max-height: 32px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100%;
    max-width: 100%;
}

nav svg {
    box-sizing: border-box;
    max-height: 90%;
    max-width: 90%;
    padding: var(--vsmall-space);
}


/* ---------- * * TOP NAV * * ---------- */

.top_nav_header {
    position: absolute;
    z-index: 1;
    /* added as per my other one*/
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--med-space);
}

.top_nav {
    display: flex;
    justify-content: space-between; 
    background-color: transparent;
    color: var(--cream);
    z-index: 1;
}

.top_nav figure {
    -webkit-writing-mode: vertical-lr;
    padding-left: var(--small-space);
}

.top_nav img {
    max-width: 100%;
    height: 22px;
}

.top_nav svg {
    fill: var(--cream);
    width: var(--large-space);
    height: var(--large-space);
}

.top_nav span {
    display: flex;
    gap: var(--safe-area);
    justify-content: flex-end;
}

.top_nav p {
    padding-left: var(--small-space);
}

/* ---------- * * Language * * ---------- */
.lang{
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--small-space) 0;
    padding-right: var(--small-space);
    cursor: pointer;
}

/* ---------- * * BOTTOM NAV * * ---------- */
/* ---------- * * Navigation en Général * * ---------- */

.bottom_nav {
    display: grid;
    /* --- Changer à 5 une fois rajouté l'icône pour "notes" --- */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--small-space); 
    background: var(--coral);  
}

.bottom_nav svg {
    fill: var(--burgundy);
}
.bottom_nav .here svg{
    fill: var(--cream-lt);
}


/* ------- * * * * AUTRES TAILLES * * * * ------- */

/* @media screen and (max-width: 600px) {

}     */



/* <MainLayout :user="user"> */