
/* --------- * MESSAGES AUTO-GENERÉS * --------- */

.auto_msg {
    margin: 6px;
    font-family: var(--text-font);
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--sz-11);
}

/* --------- * ERROR * --------- */
.auto_msg_input_err {
    color: var(--danger);
}

/* --------- * STATUS (session; tjrs une class du v-if) * --------- */

.auto_msg_status {
    color: var(--success);
}

/* ---- * Sur les messages montrés quand collection d'éléments est vide * ---- */
.auto_msg_no_show {
    text-transform: uppercase;
    font-size: var(--sz-9);
    line-height: var(--small-line);
    color: var(--coral);
}
