
/* Card components Dashboard CellarDisplayBox  */

.card_cellar {
    background-color: var(--cream);
    border-radius: 12px;
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex: 1;
    color: var(--burgundy);
    font-family: var(--block-font);
    text-transform: uppercase;
    font-size: .833rem;
    line-height: var(--small-line);
    overflow-wrap: break-word;
    hyphens: auto;
    aspect-ratio: 1/1;
}

.card_cellar.card_cell_w_sections {
    padding: var(--med-space);
    gap: var(--large-space);
    background-color: var(--coral);
}

/* ---- * Card components for filter box : TO BE REASSESSED LATER * ----  */
.card_nav {
    /* background-color: var(--burgundy-lt); */
    /* border-radius: 12px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--small-space);
    gap: var(--med-space);
    
    background: #fffdfc1a;
}

.card_nav > span {
    padding-top: 10px;
}

/* .card_nav.bckgd-burg-lt {
    background-color: var(--burgundy-lt);
    gap: var(--small-space);
}

.card_nav.bckgd-trans{
    background-color: transparent;
    gap: var(--med-sm-space);
} */

/* .card_nav ul {
    display: flex; 
}

.card_nav li {
    color: white;
    border-right: 2px solid white;
    padding: 0px 10px;
}
/* ----- * Responsive * ----- */

@media (min-width: 750px){
    .card_cellar .typo-block-font {
        font-size: 1.25rem;
    }
}

.card_nav .btn_link.cream:active {
    padding-bottom: 5px;
} */