/* .card_cellar container -> a placer ailleurs ?? */
.container_cards{   
    display: flex;
    gap: var(--med-space);
    & h5{
        font-family: var(--display-font);
    }
}
/* Card components Dashboard CellarDisplayBox  */
.card_cellar {
    background-color: var(--coral);
    border-radius: 12px;
    font-family: var(--block-font);
    text-transform: uppercase;
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 7ch; */
    height: 100%;
    width: 100%;
    flex: 1;
    color: var(--cream-lt);
    font-size: .833rem;
    line-height: var(--small-line);
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    aspect-ratio: 1/1;
}

.card_cellar.w_sections {
    padding: var(--med-space);
    gap: var(--large-space);
}

.card_round {
    border-start-end-radius: var(--xlarge-space); 
}

.card_nav {
    background-color: var(--coral);
    /* border-radius: 12px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--small-space);
}

.card_nav.bckgd-burg-lt {
    background-color: var(--burgundy-lt);
    gap: var(--small-space);
}

.card_nav ul {
    display: flex; 
}

.card_nav li {
    color: white;
    border-right: 2px solid white;
    padding: 0px 10px;
}