
/* ---- * Drops couleur liées au type de vin (Fiche Wine + WineThumbnail * ----*/

.color-drop {
    display: block;
    width: var(--med-space);
    min-height: var(--med-space);
    height: var(--med-space);
    border-radius: 100%;
}

.color-drop.blanc {
    background-color: var(--white-wine);
}

.color-drop.rouge {
    background-color: var(--burgundy);
}

.color-drop.rosé {
    background-color: var(--coral);
}