/* Tous les btn/link regrouper en bas de page */
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--small-space);
    margin-top: auto;
}

/* Page de Profil */
.container_profil{
    display: flex;
    flex-direction: column;
    color: var(--cream-lt);
    & dd{
        font-size: 1.4rem;
        color: var(--cream);
        padding-bottom: var(--med-space);
    }
    & dt{
        color: var(--coral);
        font-size: 1.12rem;
        padding-bottom: var(--vsmall-space);
    }
}

.container_dashboard_section{
    & h5{
        color: var(--cream);
    }

}