
/* ----- * FICHE WINE (wine/show) * ----- */ 

/* In this case the <main> will be contained in a <div>, essentially making it a card */

.fiche_wine main > *  {
    display: flex;
    flex-direction: row;
    gap: var(--med-space);
}

.fiche_wine_title {
    font-size: 1.4rem;
    line-height: var(--med-line);
}

.fiche_wine_subtitle {
    font-size: 1rem;
    line-height: var(--text-line);
}

.country_line {
    display: flex;
    flex-direction: row;
    gap: var(--small-space);
    align-items: center;
}

.fiche_wine figure {
    max-height: 200px;
    min-width: 30%;
}

.fiche_wine img {
    height: 100%;
}