
/* ----- * FICHE WINE (wine/show) * ----- */ 

/* In this case the <main> will be contained in a <div>, essentially making it a card */

.fiche_wine {
    display: flex;
    flex-direction: row;
    gap: var(--med-space);
}

.fiche_wine > section {
    display: flex;
    flex-direction: column;
    gap: var(--med-sm-space);
}

.fiche_wine_title {
    font-size: 1.4rem;
    line-height: var(--med-line);
    font-family: var(--block-font);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
}

.fiche_wine_subtitle {
    font-size: 1rem;
    line-height: var(--text-line);
}

.fiche_wine figure {
    max-height: 200px;
    min-width: 30%;
}

.fiche_wine img {
    height: 100%;
}