
/* ----- * FICHE WINE (wine/show) * ----- */ 

/* In this case the <main> will be contained in a <div>, essentially making it a card */

.fiche_wine main > *  {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.fiche_wine_title {
    
}