figure {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

.fig_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.fig_bg img {
    align-self: baseline;
}