/* --------- * FORM * --------- */

form {
    display: flex;
    flex-direction: column;
    gap: var(--safe-area);
    margin: 0;
    /* padding: var(--med_space); */
}

/* Will grab "InputText.vue" (came with Laravel) as well as input in forms */
form input {
    box-sizing: border-box;
    align-self: center;
    padding: 12px 20px;
    width: 100%; /*This can be done here because it is limited to its container */
    border-radius: 30px;
    border: none;
    background: var(--cream-lt);
    font-size: large;
    color: var(--text);
}

form input:focus-visible {
    outline: var(--coral) auto 1px;
}

input:-internal-autofill-selected {
    background: green !important;
}

fieldset {
    border: none;
    padding: 0;
}