
/* ---- * Cette classe est appliqué au conteneur <figure> qui contient l'image du logo * --- */

.logo {
    display: block;
    text-align: center;
}

.logo > img {
    max-height: 130px;
}


/* ---------- * * * TABLET-RESPONSIVE * * * ---------- */

@media (min-width: 750px){
    .logo > img {
        max-height: 280px;
    }
}