
.capsule_menu_deroulant {
    position: relative;
    /* display: inline-block; */
    height: 70px;
    display: flex;
    align-self: center;
    z-index: 2; /* Para poder hacer lo que quiero con el menu, esto ayuda a que el elemento que triggers the hover will always be considered "on top" of the stack*/
}

/* Style the dropdown content (hidden by default) */
.contenu_menu_deroulant {
    display: none;
    position: absolute;
    /* background-color: var(--aqua_dark); */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    box-shadow: inset 0px 10px 15px -10px rgb(63 70 72 / 50%), 0px 0px 15px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    padding: 15px 0px;
    width: 100%;
    transition: opacity .4s;
    /* opacity: 0;
    visibility: hidden; */
    background: white;
    top: 70px;
}

/* Style the dropdown links */
.contenu_menu_deroulant a {
    color: var(--aqua_tint_2);
    /* padding: 12px 16px; */
    padding: 12px var(--espace_moyen);
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.contenu_menu_deroulant a:hover {
    background: var(--aqua_tint_1);
    color: var(--neutral_light);
}

/* Show the dropdown content on hover */
.capsule_menu_deroulant:hover .contenu_menu_deroulant {
    display: block;
    /* opacity: 1; */
    /* visibility: visible; */
    /* margin-top: 1px; */
}

.arrow {
    font-size: small;
}

.menu_titre {
    display: flex;
    gap: 10px;
    color: white;
    cursor: pointer;
    align-items: end; /* so the little side arrow is lined up to center of the word*/
}

.menu_titre {
    /* border-right: 1px solid white; */
    padding: 0px var(--espace_moyen);
    margin-bottom: var(--espace_moyen);
    /* margin-top: 26px; */
    align-items: center;
    position: relative;
}

.menu_titre p {
    margin: 0;
}

/* .header_top_nav .contenu_menu_deroulant {
    left: var(--espace_moyen);
} */


/* ----- * VERSION SUR UN BG CLAIR * ----- */

/* ------------ Cartouche Titre ------------ */
.light_bg {
    border: 1px solid var(--border_bg_2);
    background: white;
}

.light_bg:hover {
    border: 1px solid var(--bronze);
}

.capsule_menu_deroulant.light_bg .menu_titre {
    color: var(--aqua_tint_2);
}

.light_bg:hover .menu_titre {
    background: var(--bronze);
    color: var(--neutral_lightest);
}
/* ------------ FIN Cartouche Titre ------------ */


/* ------------ Component Déroulant ------------ */
.light_bg .contenu_menu_deroulant {
    background: var(--neutral_light);
    border: 1px solid var(--bronze_tint_2);
    width: 99%;
}

.light_bg .contenu_menu_deroulant p {
    color: var(--bronze);
    padding: 5px var(--espace_moyen);
}

.light_bg .contenu_menu_deroulant p:hover {
    background-color: var(--aqua_tint_1);
    color: var(--gold_tint_2);
    background: var(--neutral_med);
    color: var(--aqua_tint_1);
}



/* ------- * * * * TAILLE PORTABLE * * * * ------- */

@media screen and (max-width: 600px) {
    
    /* Pour faire le contenu des menu filtres visible en desus des autres filtres arrangés blus bas dans la colonne */
    .capsule_menu_deroulant {
        z-index: unset;
    }

    .nav_mobile .menu_titre {
        margin-bottom: 10px;
    }
}