.radio{
  display: none;
}
.radio + label{
  border: 2px solid;
  border-color: transparent;
  border-radius: 100px;
  padding: var(--vsmall-space);
  text-align: center;
}
.radio:checked + label{
  background-color: var(--cream);
  border-color: var(--coral);
}