.radio{
  display: none;
}
.radio + label{
  font-family: var(--block-font);
  border: 2px solid;
  border-color: transparent;
  border-radius: 100px;
  padding: var(--small-space);
  text-align: center;
  font-weight: 600;
  color: var(--coral);
}
.radio:checked + label{
  background-color: var(--cream);
  border-color: var(--coral);
}