
.view_reel {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 10px;
    box-sizing: border-box;
}

.view_reel picture {
    height: 75px;
    /* border: 2px solid var(--gold_lightest); */
    margin: 2px;
    background: var(--bronze);
    outline: 2px solid var(--gold_tint_3);
    outline-offset: 3px;
}

.view_reel picture:hover {
    outline: 2px solid var(--bronze);
    cursor: pointer;
}

.view_reel img {
    overflow: hidden;
    width: 100%;
}

.view_reel picture:hover img {
    opacity: .75;
}

.view_reel i {
    text-align: center;
}

.view_reel i:hover {
    cursor: pointer;
}