

/* ----- * FIELDSET (input ou champ) * ------ */

/* ----- * Élimine le css natif du fieldset * ------ */
fieldset {
    border: none;
    padding: 0;
}

.fieldset_1 {
    border: 2px solid var(--cream); 
    border-radius: var(--large-space);
    /* margin: auto;  */
    max-width: 100%;
    width: 100%;
}

.fieldset_1 legend {
    margin: 0 var(--large-space);
    padding: 0 var(--small-space);
    font-size: medium;
    text-transform: lowercase;
    color: var(--cream-lt);
    font-family: var(--text-font);
}

.fieldset_1 input {
    box-sizing: border-box;
    border-radius: var(--large-space);
    border: none;
    background: transparent;
    font-size: medium;
    padding: 0px var(--med-space);
    margin-bottom: 12px;
    margin-top: 4px;
    max-width: 100%;
    width: 100%;
    color: var(--cream-lt);
}

.fieldset_1 input:focus-visible {
    outline: none;
}

.fieldset_1 input::placeholder {
    color: var(--coral);
    font-family: var(--text-font);
    text-transform: lowercase;
}

.fieldset_1 input:-webkit-autofill {
    background-color: none;
    color: var(--cream-lt) !important;
}

.fs_burg {
    border: 2px solid var(--burgundy); 
}

.fs_burg legend, .fs_burg input {
    color: var(--burgundy);
}