/* --------- * FORM * --------- */

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: var(--large-space);
}

/* Will grab "InputText.vue" (came with Laravel) as well as input in forms */
form input {
    box-sizing: border-box;
    align-self: center;
    padding: 12px var(--med-space);
    width: 100%; /*This can be done here because it is limited to its container */
    border-radius: var(--large-space);
    border: none;
    background: var(--cream-lt);
    font-size: large;
    color: var(--text);
}

form input:focus-visible {
    outline: var(--coral) auto 1px;
}

form input:-internal-autofill-selected {
    background: green !important;
}

