.form-quantity{
  background-color: var(--cream-lt);
  border-radius: 12px;
  padding: var(--small-space);
}
.form-quantity input{
  font-family: var(--title-font);
  font-size: 3em;
  font-weight: 600;
  justify-self: flex-start;
}
.form-quantity section:first-of-type{
  display: flex;
  gap: var(--small-space);
  justify-content: space-between;
  text-align-last: center;

  &>*{
    flex: 1;
  }
  &>div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: var(--vsmall-space);
  }
  &>div div{
    display: flex;
    gap: var(--med-space);
  }
}

.form-quantity section:last-of-type div{
  display: flex;
  flex-flow: wrap;
  gap: var(--small-space);

  &>*{
    flex: 1;
  }
}
.form-quantity img{
  filter: drop-shadow(1px 3px 2px rgba(24, 4, 4, 0.378));
}
.form-quantity.variant-modal{
  align-self: center;
  flex: 1;
}
.form-quantity.variant-modal section:first-of-type{
  flex-flow: column;
  &>div{
    flex-flow: row;
    &>*{
      flex: 1;
    }
  }
}