/* --------- * FORMULAIRES * --------- */

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: var(--large-space);
}

form input, form textarea {
    box-sizing: border-box;
    align-self: center;
    padding: 12px var(--med-space);
    width: 100%; 
    border-radius: var(--large-space);
    border: none;
    background: var(--cream-lt);
    font-size: large;
    color: var(--text);
}

form input:focus-visible {
    outline: var(--coral) auto 1px;
}

form textarea {
    background: none;
    font-family: var(--font-text);
    color: var(--cream);
    height: 200px;
}

form textarea::placeholder {
    color: var(--coral);
}

form textarea:focus-visible {
    outline: none;
}

