/* ---- * POUR LA NAV DE FILTRAGE: Champs pour la portée min-max * ---- */

.prix_wrapper  {
    display: flex;
    flex-direction: row;
    gap: var(--med-space);
    box-sizing: border-box;
    border-radius: var(--large-space);
    background: var(--cream-lt);
    padding: 0 var(--med-space);
    width: 100%;
    color: var(--burgundy-lt);
    align-items: center;
    line-height: var(--text-line);
    font-family: var(--block-font);
    font-size: var(--sz-10);
    max-width: 300px;
}

.prix_wrapper input {
    width: 70%;
    padding: var(--sm-xsmall-space) 0;
    border: none;
    background: transparent;
}

.prix p {
    font-family: var(--block-font);
    text-transform: uppercase;
    color: var(--coral);
    font-weight: 600;
}

.prix_wrapper label {
    border-right: 2px solid;
    padding-right: 20px;
}

.s-a-cellar {
    max-width: 310px;
}