.search-bar{
  display: flex;
  flex-flow: column;
  gap: var(--small-space);
  background-color: var(--cream);
  padding: var(--med-space);
  height: max-content;
  border-radius: 0 0 12px 12px;
  box-shadow: var(--box-shadow);
}
.search-bar form{
  display: flex;
  flex-flow: row;
  gap: var(--vsmall-space);
}
.search-bar svg{
  width: var(--med-space);
  height: var(--med-space);
  margin-bottom: 5px;
  margin-right: 10px;
}
.search-bar .button--icon.btn-delete{
  margin-top: 17px;
}
/* Class qui s'applique sur search Bar dans la page Dashboard */
.search-dashboard.search-bar {
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  padding-top: var(--small-space);
  & legend{
    color: var(--cream);
  }
  & fieldset_1{
    max-width: 100%;
  }
  & .fs_burg{
    border-color: var(--cream);  
  }
  & .svg-search{
    fill: var(--cream);
    margin-bottom: 5px;
    margin-right: 10px;
  }
  & > form > .button--icon{
    display: none;
  }
}