
/* ---- * CONTENEUR POUR LES OPTIONS DE TRI / FLTRE * ---- */

.sort-container {
    max-width: 315px;
    max-height: 650px;
    padding: var(--med-space) 0;
}

/* ---- * Transitions * ---- */
.sort-container-fade-enter-active, .sort-container-fade-leave-active {
    transition: max-height 0.5s;
}

.sort-container-fade-enter-from, .sort-container-fade-leave-to {
    max-height: 0;
    padding: 0 var(--xsmall-space);
}


/* ---- * OPTIONS DE TRI * ---- */

.sort-container.sort-options {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--small-space);
    font-family: var(--block-font);
    text-transform: uppercase;
    padding: 0;
}

.sort-container.sort-options > li > label {
    padding: var(--small-space);
    aspect-ratio: unset;
    background: var(--coral);
    font-size: var(--sz-10);
    line-height: var(--xsmall-line);
    letter-spacing: var(--small-ltr-spacing);
    color: var(--white);
    font-weight: 500;
    border: none;
}

.sort-options .radio:checked + label {
    background: var(--burgundy);
}
