/* ---- * GROUPE: OPTION AUX BOUTONS * ---- */
.btn_link {
    font-family: var(--text-font);
    text-transform: lowercase;
    font-size: var(--sz-9);
    font-weight: 500;
    padding-right: var(--med-space);
}

.btn_link.cream:not(:first-child) {
    border-left: 1px solid var(--cream-lt);
    padding-left: var(--med-space);
}

.btn_link.plain {
    border-right: none;
    padding: 0;
    width: 100%;
    display: block;
}

/* ---------- * * * TABLET-RESPONSIVE * * * ---------- */

@media (min-width: 750px) {

    .btn_link {
        font-size: var(--sz-7);
    }
}

