/* ---- * GROUPE: OPTION AUX BOUTONS * ---- */
.btn_link {
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 500;
    padding-right: var(--med-space);
}

.btn_link.cream:not(:first-child) {
    border-left: 1px solid var(--cream-lt);
    padding-left: var(--med-space);
}

.btn_link.cream:active, .btn_link.cream:checked {
    text-decoration: underline solid 2px;
    text-underline-offset: 5px;
}

.btn_link.plain {
    border-right: none;
    padding: 0;
    width: 100%;
    display: block;
}
