
/* cancel all previous button style and add pointer*/
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* attrs pour tous les boutons */
.button {
    border: 2px solid var(--cream-lt);
    border-radius: var(--large-space);
    color: var(--cream-lt);
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.12rem;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    line-height: 1rem;
    padding: 16px;
    text-transform: uppercase;
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* - états - */
.button:active:not([disabled]) {
    transform: translate(2px, 2px);
}

.button:focus-visible {
    outline-color: var(--coral);
}

/* - variants couleurs - */
.button.btn-burgundy {
    background: none;
    border-color: var(--burgundy);
    color: var(--burgundy);
}

.button.btn-cream {
    background: none;
    border-color: var(--cream);
    color: var(--cream);
}

.button.btn-coral {
    background: var(--coral);
    border-color: var(--coral);
    color: var(--white);
}

.button.btn-warning { 
    background-color: var(--danger);
    border-color:var(--danger);
    color: var(--white)
}   

/* - variants de tailles - */
.button.btn-sml {
    border-width: 2px;
    font-size: 0.8rem;
    padding: 8px 12px;
}

.button.btn-med {
    font-size: 1rem;
    padding: 12px;
}

/* largeur totale du parent */
.button.btn-full {
    max-width: 120px;
    width: 100%;
}

.button.btn-logo{
    display: flex;
    flex-flow: row;
    gap: var(--small-space);
}
.button.btn-logo svg{
    flex: 1;
}


/* - variants pour icones - */
.button--icon {
    border: none;
    max-width: max-content;
    padding: 0;
}

.button--icon:active:not([disabled]) {
    transform: translate(2px, 2px);
}

.button--icon[disabled]{
    filter: opacity(.5);
}

.button--icon figcaption{
    font-size: 1rem;
    max-width: 10ch;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    line-height: 1em;
    color: var(--burgundy-lt);
}

