
/* ---- * Annuler les styles natifs de <button> + ajouter pointer * ---- */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ---- * Attributs communs pour tous les boutons * ---- */
.button {
    border: 2px solid var(--cream-lt);
    border-radius: 35px; /* Permet d'avoir plus d'une ligne si jamais */
    color: var(--cream-lt);
    font-family: var(--block-font);
    font-size: var(--sz-8);
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    line-height: var(--xsmall-line);
    padding: var(--med-sm-space) var(--med-space);
    text-transform: uppercase;
    width: max-content;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: var(--text-line);
}

/* ---- * États * ---- */
.button:active:not([disabled]) {
    transform: translate(2px, 2px);
}

.button:focus-visible {
    outline-color: var(--coral);
}

/* ---- * Variants Vouleurs * ---- */
.button.btn-burgundy {
    background: none;
    border-color: var(--burgundy);
    color: var(--burgundy);
}

.button.btn-burgundy-lt {
    background: none;
    border-color: var(--burgundy-lt);
    color: var(--burgundy-lt);
}

.button.btn-cream {
    background: none;
    border-color: var(--cream);
    color: var(--cream);
}

.button.btn-coral {
    background: var(--coral-dk);
    border-color: var(--coral-dk);
    color: var(--white);
}
.button.btn-warning { 
    background-color: var(--danger);
    border-color:var(--danger);
    color: var(--white)
}   

/* ---- * Variants de Tailles * ---- */
.button.btn-sml {
    border-width: var(--xxsmall-space);
    font-size: var(--sz-11);
    padding: var(--sm-xsmall-space) var(--med-sm-space);
}

.button.btn-med {
    font-size: var(--sz-9);
    padding: var(--med-sm-space);
}

/* ---- * Largeur Totale du Parent * ---- */
.button.btn-full {
    max-width: 120px;
    width: 100%;
    align-self: center;
}

.button.btn-logo{
    display: flex;
    flex-flow: row;
    gap: var(--small-space);
}
.button.btn-logo svg{
    flex: 1;
}


/* ---- * ICÔNES * ---- */

.button--icon {
    border: none;
    max-width: max-content;
    padding: 0;
}

.button--icon:active:not([disabled]) {
    transform: translate(2px, 2px);
}

.button--icon[disabled] {
    filter: opacity(.5);
}

.button--icon figcaption {
    font-size: var(--sz-9);
    max-width: 10ch;
    display: block;
    font-family: var(--block-font);
    font-weight: 500;
    letter-spacing: var(--small-ltr-spacing);
    line-height: 1em;
    color: var(--burgundy-lt);
}

.button.p-small {
    font-size: var(--sz-10);
}



/* ---------- * * * TABLET-RESPONSIVE * * * ---------- */

@media (min-width: 750px) {
    .button {
        font-size: var(--sz-6half);
        padding: 18px 24px;
    }

    .button.btn-sml {
        font-size: var(--sz-9);
        margin-inline: auto;
    }

    .button--icon figcaption {
        font-size: var(--sz-7half);
    }   
}