
/* --------- * BUTTON * --------- */

/* In the components "PrimaryButton.vue", "SecondaryButton.vue", "DangerButton.vue" (came with Laravel) */

/* cancel all previous button style */
button {
    background: none;
    border: none;
    cursor: pointer;
}
.button {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    padding: 16px;
    width: max-content;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    border-radius: var(--large-space);
    border: 3px solid var(--cream);
    color: var(--cream);
}

.button_burgundy {
    border: 3px solid var(--burgundy);
    color: var(--burgundy);
    background: none;
}

/* Variante de btn small */
.button.sml {
    padding: 8px 12px;
    font-size: 0.8rem;
    border: none;
    background: var(--coral);
    width: max-content;

    /* what does that do? */
    vertical-align: sub;
}

/* Variante de btn small */
.button.sml.btn_wide {
    width: 100%;
    max-width: 100%;
}

/* Variante de btn Medium */
.button.med {
    padding: 12px;
    font-size: 1rem;
    max-width: max-content;
}

.button, .button a {
    line-height: 1rem;
    font-weight: 400;
    font-size: 1.12rem;
    letter-spacing: var(--small-ltr-spacing);
}

.button_column {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: var(--safe-area);
    align-items: center;
    max-height: 100%;
}

.button:active {
/*  maybe its simpler to just translate it, removes issues with borders and stuff */
    transform: translate(2px, 2px);

/* background-color: var(--coral);
border: none; */
}

.lien_sml {
    padding: 6px;
    font-size: 0.6rem;
    background: none;
    /* vertical-align: sub; */
    max-height: fit-content;
    width: max-content;
    font-family: 'Oswald', sans-serif;
    display: block;
}

.flex-flow-unset {
    flex-flow: unset;
    max-height: 100%;
}

.lien_sml:hover {
    color:var(--coral)
}
.borderless {
    padding: 0;
    border: none;
}

.button_back {
    align-self: flex-start;
}
.button_back:active{
    transform: translate(2px, 2px);
}
button[disabled]{
    filter: opacity(.5);
}


