
.goBackButton{
  align-items: center;
  background: none;
  border: 2px solid;
  border-color: var(--cream);
  border-radius: 1000px;
  color: var(--cream);
  cursor: pointer;
  display: flex;
  font-family: 'Oswald';
  font-size: 1em;
  font-weight: 400;
  gap: 6px;
  line-height: 1.1;
  padding: 3px var(--small-space);
  text-transform: uppercase;
}