.lien_sml {
    padding: 6px;
    font-size: var(--sz-13);
    background: none;
    max-height: fit-content;
    width: max-content;
    font-family: var(--block-font);
    display: block;
}

/* ---- * États * ---- */
.lien_sml:hover {
    color: var(--coral);
}