/* ---- * "Radio" en tant que input déclancheur * ---- */
.radio {
    display: none;
}

/* ---- * Style de bouton de base attaché à radio * ---- */

.radio + label {
    border: 2px solid var(--burgundy-lt);
    border-radius: var(--br-std);
    padding: var(--small-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex: 1;
    color: var(--burgundy-lt);
    text-align: center;
    font-family: var(--block-font);
    font-weight: 600;
    font-size: var(--sz-10);
    line-height: var(--small-line);
    overflow-wrap: break-word;
    hyphens: auto;
}

.radio:checked + label {
  background-color: var(--burgundy);
  border-color: var(--burgundy);
  color: var(--cream-lt);
}


/* ---------- * * * TABLET-RESPONSIVE * * * ---------- */

@media (min-width: 750px) {
    .radio + label {
        font-size: var(--sz-7half);
    }
}