.radio-round{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.radio-round input{
  padding: 0;
  appearance: none;
  display: block;
  height: 25px;
  width: 25px;
  background-color: var(--cream);
}
.radio-round input:checked{
  outline: 2px coral solid;
}

.radio-round.radio-red input{
  background-color: var(--burgundy);
}
.radio-round.radio-white input{
  background-color: var(--cream);
}
.radio-round.radio-rose input{
  background-color: var(--coral);
}