/* ---- * INPUTS "RADIO" CHOIX DE VIN * ---- */

.radio-round {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--xsmall-space);
}

.radio-round input {
  padding: 0;
  appearance: none;
  display: block;
  height: 25px;
  width: 25px;
  background-color: var(--cream);
  box-shadow:inset var(--box-shadow);
}

.radio-round input:checked {
  outline: 3px var(--coral) solid;
}

.radio-round input:checked + label {
  color: var(--burgundy-lt);
  font-weight: 500;
}

.radio-round.radio-red input {
  background-color: var(--burgundy);
}

.radio-round.radio-white input {
  background-color: var(--cream);
}

.radio-round.radio-rose input {
  background-color: var(--coral);
}